
<section>
    <h2>Welcome to your profile page</h2>
    {{!-- button to create post using a href --}}
    <a href="/dashboard/create" class="btn btn-primary">Create Post</a>
    <h3 class="mt-4">Your Post:</h3>
{{!-- display post as cards --}}
{{#if posts.length}}

{{#each posts as |post| }}
{{> post-info post }}
<a href="/dashboard/edit/{{post.id}}"><button class="btn btn-primary mt-2 mb-2">Edit Post</button></a>

{{/each}}
{{else}}
<h6>
    No posts yet.
</h6>
{{/if}}
</section>
